<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Email Verification</title>
    <!-- Ajoutez ici vos styles CSS personnalisés -->
</head>
<body>
<div>
    <h2>Email Verification</h2>
    <p>Thank you for registering with our application. Please click the link below to verify your email:</p>
    <a th:href="${verificationLink}">Verify Email</a>
</div>
</body>
</html>
